@import "../core";

.OptionsTabs {
  position: absolute;
  left: $left-pane-width;
  right: 0;
  bottom: 0;
  height: $tab-ht;
  background: #9c9c9c;

  .OptionTab {
    background: #e1e1e1;
    display: inline-block;
    padding: 10px;
    border: 1px solid #999999;
    cursor: pointer;
    &.selected {
      background: #333333;
      color: #cccccc;

    }
  }

  .NewTabButton {
    background: #e1e1e1;
    display: inline-block;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #999999;
    cursor: pointer;
  }
}

.SidePanel {
  position: absolute;
  width: $left-pane-width;
  left: 0;
  bottom: 0;
  top: 0;
  overflow-y: auto;
  background: $lt-grey;

  .action-btn {
    @include ss-button;
    background: $bright-blue;
  }

  .CollapsiblePane {
    .header {
      background: $dk-grey;
      color: $wash;
      text-align: center;
      @include h4;
    }

    .content {
      padding: 8px;
    }
  }

  .PageStepper {
    @include user-select-none;

    .active-page {
      @include h5;
      font-size: 1.5em;
    }
  }

  .TargetInfo {
    position: relative;
    height: 40px;
    padding: 10px;

    .set-btn {
      @include ss-button;
      background: #b0b0b0;
      position: absolute;
      right: 0;
      top: 7px;
    }

    .legend-color {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #ffc2fc;
      border: 1px solid $dk-grey;
      border-radius: 3px;
    }

    .legend-title {
      display: inline-block;
      margin-left: 12px;
      width: $left-pane-width - 85px;
    }

    .bar-row {
      position: relative;
      margin-top: 6px;
      height: 16px;

      $percentW: 47px;

      .percent {
        @include h4;
        font-size: 0.85em;
        position: absolute;
        left: 0;
        top: 0;
        width: $percentW;
      }

      .bar {
        position: absolute;
        left: $percentW;
        top: 3px;

        .bar-bg {
          position: absolute;
          background: #ffc2fc;
          left: 0;
          top: 1px;
          width: 20px; //set by code
          height: 9px;
        }

        .bar-over {
          position: absolute;
          //background: rgba(0, 0, 0, 0.2);
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQYV2NkYGD4z8DAwMgAI2ACYBEo+A8ANmwDA2HBzXsAAAAASUVORK5CYII=) repeat;
          border: 1px solid $dk-grey;
          left: 0;
          top: 0;
          width: 20px; //set by code
          height: 8px;
        }
      }


    }
  }
}

