@import "../core";

.SidePanel {
  position: absolute;
  width: $left-pane-width;
  left: 0;
  bottom: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: $lt-grey;

  .action-btn {
    @include ss-button;
    background: $bright-blue;
  }

  .CollapsiblePane {
    .header {
      background: $dk-grey;
      color: $wash;
      text-align: center;
      @include h4;
    }

    .content {
      padding: 8px;
    }
  }

  .PageStepper {
    @include user-select-none;

    .active-page {
      @include h5;
      font-size: 1.5em;
    }
  }

  .TargetInfo {
    position: relative;
    height: 40px;
    padding: 10px;

    .set-btn {
      @include ss-button;
      background: #b0b0b0;
      position: absolute;
      right: 0;
      top: 7px;
    }

    .legend-color {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #ffc2fc;
      border: 1px solid $dk-grey;
      border-radius: 3px;
    }

    .legend-title {
      display: inline-block;
      margin-left: 12px;
      width: $left-pane-width - 85px;
    }
  }
}
