@import "../core";

.TargetBars {
  position: relative;
  margin-top: 6px;
  height: 16px;

  $percentW: 47px;

  .percent {
    @include h4;
    font-size: 0.85em;
    position: absolute;
    left: 0;
    top: 0;
    width: $percentW;
  }

  .bar {
    position: absolute;
    left: $percentW;
    top: 3px;

    .bar-bg {
      position: absolute;
      background: #ffc2fc;
      left: 0;
      top: 1px;
      width: 20px; //set by code
      height: 9px;
    }

    .bar-over {
      position: absolute;
      //background: rgba(0, 0, 0, 0.2);
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQYV2NkYGD4z8DAwMgAI2ACYBEo+A8ANmwDA2HBzXsAAAAASUVORK5CYII=) repeat;
      border: 1px solid $dk-grey;
      left: 0;
      top: 0;
      width: 20px; //set by code
      height: 8px;
    }
  }

  .bar-label {
    font-size: 0.8em;
    color: #999999;
    position: absolute;
    left: 200px;//Set by code
    top: 0;
  }

}