.MoveSets {
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  width: 200px;
  background: #fffffb;
  .MoveSet {
    padding: 8px 6px;
    background: #f7f7f7;
    .Move {
      padding: 8px 6px;
      background: #ffc2fc;

    }
  }
}