@import "core";
@import "./components/index";
@import "~colorizer-three/src/index";

@import "App";

//NOTE: override of colorizer-three
.ThreeContainer {
  @include main-pane;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}